.App {
  text-align: center;
  background-color: #afeeee;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
  font-family: "Courier New", monospace;
  font-weight: bolder;
  position:top;
  color: #800080;
}

.subtitle{
  font-size: medium;
}

.tripInput{
    size: 10px;
    padding: 10px;
    justify-content: flex-end;
}

.chat-output-container {
  background-color: #f8f8ff;
  border-radius: 12px;
  padding: 20px;
  margin: 20px auto;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", sans-serif;
}