.App {
  text-align: center;
  background-color: #afeeee;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
  font-family: "Courier New", monospace;
  font-weight: bolder;
  position:top;
  color: #800080;
}

.subtitle{
  font-size: medium;
}

.tripInput{
    size: 10px;
    padding: 10px;
    justify-content: flex-end;
}

